body{
    display: block;
    margin: 0 auto;
}
.banner img{
    width: 85%;
    display: block;
    margin: 0 auto;
    margin-top: 4%;
}
.oszlopcontainer{
    width: 85%;
    display: flex;
    margin: 0 auto;
}
.bal{
    width: 16%;
    font-size: 115%;
}
.jobb img{
    width: 21vw;
    height: 70%;
}
.jobb{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.jobb-item{
    width: 29%;
}
footer{
    display: flex;
    text-align: center;
    padding-bottom: 1%;
    justify-content: space-between;
    margin-left: 35%;
    margin-right: 35%;
}
#tortenetunk{
    border-bottom: 1px solid black;
}

@media (max-width: 768px){
    .banner img{
        width: 90vw;
    }
    .oszlopcontainer{
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    .bal{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .jobb-item{
        width: 50%;
    }
    .jobb{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
@media (max-width: 480px){
    .banner img{
        width: 90vw;
    }
    .oszlopcontainer{
        width: 90vw;
    }
    .bal{
        display: flex;
    }
}
