body{
    display: block;
    margin: 0 auto;
}
.banner img{
    width: 75vw;
    display: block;
    margin: 0 auto;
    margin-top: 4%;
}
.oszlopcontainer{
    width: 75vw;
    display: block;
    margin: 0 auto;
}
.bal{
    width: 30%;
}
.jobb img{
    width: 100%;
}
.jobb-item{
    border-radius: 32px;
    width: 25%;
}
footer{
    display: flex;
    text-align: center;
    padding-bottom: 1%;
    justify-content: space-between;
    margin-left: 35%;
    margin-right: 35%;
}
#tortenetunk{
    border-bottom: 1px solid black;
}

@media (max-width: 768px){
    .banner img{
        width: 90vw;
    }
    .oszlopcontainer{
        width: 90vw;
    }
    .bal{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
}
@media (max-width: 480px){
    .banner img{
        width: 90vw;
    }
    .oszlopcontainer{
        width: 90vw;
    }
    .bal{
        display: flex;
    }
}
