#rolunkbanner{
    width: 70%;
    margin: 0 auto;
    display: block;
}
h1{
    margin: 4% auto;
    display: block;
    text-align: center;
}

.container{
    display: flex;
    gap:5%;

}

.bal{
    width: 45%;
    margin-left: 1%;
    font-size: 1.5vw;
    text-align: center;
    padding: 5%;
}

.jobb{
    width: 55%;
    background-color: rgb(218, 217, 217);
    margin-right: 1%;

}

.pfp{
    border-radius: 200px;
    width: 60%;
}

.kiskontener{
    display: flex;
    padding: 5%;
}
.balkep{
    width: 50%;
}
.jobbszoveg{
    width: 70%;
    font-size: 1.6vw;
}
