@font-face {
    font-family: jetBrainsMono;
    src: url(../font/JetBrainsMono-Regular.woff2);
}

body {
    font-family: jetBrainsMono;
}

#logo{
    margin-top: 1%;
    width: 20vw;
    display: block;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;

}
.bmr{
    background-color: rgb(135,0,218);
    padding: 3px 10px;
    border-radius: 10px;
    color: white;
    margin-left: 10%;
}
#fooldalbanner{
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 30vh;
}

@media (max-width: 768px) {
    #logo {
        width: 50vw;
        margin-top: 0;
    }
    .menu {
        flex-direction: column;
    }
    .menupont, .bmr {
        margin: 10px 0;
    }
    .bmr {
        padding: 5px 15px;
    }
}

@media (max-width: 480px) {
    #logo {
        width: 30vh;
    }
    .menu {
        font-size: 100%;
        
    }
    .bmr {
        padding: 10px 20px;
    }
}