#logo,img{
    width: 400px;
    margin-top: -150px;
    margin-left: -50px;
}
.menu{
    display: flex;
    align-items: center;
    font-size: large;
}
.menupont{
    margin-left: -50px;
    margin-right: 60px; 
    margin-top: -100px;
}
.bmr{
    background-color: rgb(135,0,218);
    padding: 3px 10px;
    border-radius: 10px;
    margin-top: -110px;
    color: white;
}
